<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <title>{{title}}</title>
    <h1>Миссия Колонизация Марса</h1>
</head>
<body>
    <div class="form">
        <form action="">
            <h3>И на марсе будут яблони цвести!</h3>
            <h2 for="">{{title2}}</h2>
            {% if number == 0 %}
                <div>
                    <img style="width: 200px; height:150px;" src="https://avatars.mds.yandex.net/i?id=faab7446d1c2c4bd1277962376ae1092cb14f711-5099198-images-thumbs&n=13" alt="">
                </div>
            {% elif number == 1 %}
                <div>
                    <img style="width: 200px; height:150px;" src="https://avatars.mds.yandex.net/i?id=df9cc8c1c2ea7033783a7bbd2035ec95b49e458c-7754220-images-thumbs&n=13" alt="">
                </div>
            {% else %}
                <div>
                    <img style="width: 200px; height:150px;" src="https://swmodel.my1.ru/_ld/1/178.jpg" alt="">
                </div>
        {% endif %}

        </form>

    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
