<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <title>Варианты выбора</title>
    <h1>Мое предложение: {{title}}</h1>
</head>
<body>
    <div class="alert alert-primary" role="alert">
        Эта планета близка к земле
    </div>
    <div class="alert alert-secondary" role="alert">
        На ней много необходимых ресурсов
    </div>
    <div class="alert alert-success" role="alert">
        На ней есть вода и атмосфера
    </div>
    <div class="alert alert-danger" role="alert">
        На ней есть небольшое магнитное поле
    </div>
    <div class="alert alert-warning" role="alert">
        Наконец, она просто красива
    </div>
    
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>